<% tweets.each do |tweet| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= auto_link(tweet.text) %>
    </div>
  </div>
<% end %>

<p class="text-center">
  <%= link_to 'Refresh', refresh_tweets_path, method: :post, class: 'btn btn-primary', role: 'button' %>
</p>
