<div class="jumbotron">
  <h2 class="text-center">Welcome to Favoread</h2>
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et sapien et dolor auctor vehicula. Praesent convallis sem a gravida faucibus. Proin rutrum orci in ligula feugiat cursus. Vestibulum at felis vitae lectus mattis dictum id vel ipsum.</p>
  <% unless current_user %>
    <p class="text-center">
      <%= link_to(connect_path("twitter", origin: request.fullpath), class: 'btn btn-success btn-lg', role: 'button') do %>
        <span class="glyphicon glyphicon-user"></span> Connect
      <% end %>
    </p>
  <% end %>
</div>
